@import "reset.css";

:root {
    --airQualityGood: #00e400;
    --airQualityModerate: #ffff00;
    --airQualityUSG: #ff7e00;
    --airQualityUnhealthy: #ff0000;
    --airQualityVeryUnhealthy: #8f3f97;
    --airQualityHazardous: #7e0023;
    --triad1DarkBlue: #15308F;
    --triad1BurntOrange: #DB4A21;
    --triad1Blue: #0B38DB;
    --triad1Green: #82DB21;
    --triad1DarkGreen: #4A8F00;
    --complementary1DarkBlue: #04228F;
    --complementary1Blue: #2655FF;
    --complementary1MediumBlue: #0B38DB;
    --complementary1Brown: #8F6900;
    --complementary1Tan: #DBA40B;

}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}