@import "reset.css";

:root {
    --airQualityGood: #00e400;
    --goodDarkAccent: #009a00;
    --airQualityModerate: #ffff00;
    --moderateDarkAccent: #b2b200;
    --airQualityUSG: #ff7e00;
    --usgDarkAccent: #aa5500;
    --airQualityUnhealthy: #ff0000;
    --unhealthyDarkAccent: #b70000;
    --airQualityVeryUnhealthy: #8f3f97;
    --veryUnhealthyDarkAccent: #5b2861;
    --airQualityHazardous: #7e0023;
    --hazardousDarkAccent: #4d0016;

    --themeMedium:#0B38DB;
    --themeLight:#4e6ddc;
    --themeDark:#04228F;
    --themeComplementMedium: #DBA40B;
    --themeComplementDark: #8F6900;
    --themeContrastMedium1:#DB4A21;
    --themeContrastDark1:#822b13;
    --themeContrastMedium2:#82DB21;
    --themeContrastDark2: #4A8F00;

}

/* elements */

body {
  font-family: 'Archivo', sans-serif;
}

header {
  background-color: var(--themeMedium);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
}

body {
  color: var(--themeDark);
}

footer {
  background-color: var(--themeDark);
  color: white;
}

a {
  text-decoration: none;
}

/* ids */

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
  border: var(--themeDark) solid 2px;
}

#aqi-radio-fieldset {
  display: flex;
  background-color: white;
  width: fit-content;
  margin: 15px auto;
}

#aqi-radio-fieldset * {
  padding: 4px;
  margin: 4px;
}

#aqi-radio-fieldset [type='radio'] {
  display: none;
}

#aqi-radio-fieldset input:checked+label {
  box-shadow: 0 0 0 5px #444, inset 0 0 0 3px #444, 5px 5px 2px #444 !important;
}

#good-radio-label {
  background-color: var(--airQualityGood);
}

#moderate-radio-label {
  background-color: var(--airQualityModerate);
}

#usg-radio-label {
  background-color: var(--airQualityUSG);
}

#unhealthy-radio-label {
  background-color: var(--airQualityUnhealthy);
}

#very-unhealthy-radio-label {
  background-color: var(--airQualityVeryUnhealthy);
}

#hazardous-radio-label {
  background-color: var(--airQualityHazardous);
}

/* classes */

.nav-div {
  display: block;
}

.nav-link {
  /* display: block; */
  padding: 3px;
  background-color: var(--themeMedium);
  color: white;
}

.nav-link:visited {
  color: white;
}

.nav-link:hover, .nav-link:active {
  color: var(--themeContrastMedium1);
  background-color: var(--themeLight);
}









/* 
.stationMarker {
  padding: 2px;
  border-radius: 8px;
  position: relative;
}

.stationMarker::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.closest {
  margin: 10px;
  background-color: blue !important;
}

.good {
  background-color: var(--airQualityGood);
  border: var(--goodDarkAccent);
}

.moderate {
  background-color: var(--airQualityModerate);
  border: var(--moderateDarkAccent)
}

.usg {
  background-color: var(--airQualityUSG);
  border: var(--usgDarkAccent);
}

.unhealthy {
  background-color: var(--airQualityUnhealthy);
  border: var(--unhealthyDarkAccent);
}

.veryUnhealthy {
  background-color: var(--airQualityVeryUnhealthy);
  border: var(--veryUnhealthyDarkAccent);
}

.hazardous {
  background-color: var(--airQualityHazardous);
  border: var(--hazardousDarkAccent);
} */
